@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(/fonts/roboto300.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(/fonts/roboto500.woff) format('woff');
}

html, body, .container, .row, .col-md-8 {
    height: 100%;
    overflow: hidden;
    background: #ffffff;
    margin: 0;

    font-weight: 300;
    font-family: "Roboto", Arial, sans-serif;
}

.events, .gsb {
    height: 50%;
    margin-right: 360px;
}

.events {
    background: #343434;
}


.gsb {
    position: relative;
    margin-right: 360px;
    overflow: hidden;
}

.gsb #ranking {
    position: relative;
    height: 100%;
    background: #00d0a7;
}

.gsb #ranking .rank {
    position: relative;
    padding: 16px 72px;
    height: 40px;
    line-height: 40px;
}

.gsb #ranking .rank .icon img {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 40px;
    border-radius: 20px;
}

.gsb #ranking .rank .city {
    font-size: 2em;
    vertical-align: text-bottom;
}

/*.gsb #ranking .rank .index {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    bottom: 0;
    font-weight: bold;
}

.gsb #ranking .rank .index span {
    background: #ffffff;
    display: block;
    margin: 8px 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
}*/


.gsb #ranking .rank .score {
    position: absolute;
    display: inline-block;
    right: 16px;
    font-size: 2.3em;
}

.gsb #ranking .rank .underline {
    position: absolute;
    bottom: 0;
    left: 72px;
    right: 0;
    height: 1px;
    background: lightgrey;
}

/*.coffee {
    background: burlywood;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 360px;
    bottom: 0;
}*/

#tweets {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 360px;
}

.tweet {
    position: relative;
    overflow: auto;
    padding: 16px 16px 20px 0;
}

.tweet .pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    bottom: 0;
}

.tweet img {
    /*position: absolute;
    top: 50%;*/
    margin-top: 16px;
    margin-left: 16px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.tweet .content {
    margin-left: 72px;
}

.tweet .content .underline {
    position: absolute;
    bottom: 0;
    left: 72px;
    right: 0;
    height: 1px;
    background: lightgrey;
}

.tweet h1 {
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}

.tweet h2 {
    float: left;
    font-size: 12px;
    margin-top: 0;
}

.tweet p span {
    color: gray;
}

.youtube{
    height: 100%;
    text-align: center;
}

.youtube h2 {
    display: inline-block;
    color: white;
    font-weight: 500;
    position: relative;
    top: -32%;
    margin-left: 98px;
}
